/*
** app/sleeper/sleeper.globals.css
*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 64px;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 40px;
    }
}

input[type="radio"] {
    accent-color: var(--blue);

    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}
