/*
** components/styles/RadioInput.css
*/

.components--radio-input--label {
    display: grid;
    align-items: center;
    grid-template-columns: 1em auto;
    gap: 0.5em;

    font-size: 1rem;
}

input[type="radio"] {
    accent-color: black;

    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}