/*
** components/styles/TextInput.css
*/

.components--text-input--input,
.components--text-input--label {
    font-size: 1rem;
}

.components--text-input--input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 8px;
}

.components--text-input--label {
    padding: 0 8px;
}