<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Bruin Bash 2018</title>

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/bbash18teaser.css">
</head>
<body>
    <div id="content">
        <div id = "tickets-icon" class="icon-container">
            <img class="desktop-icon" src="/img/bbash18_teaser/word.png"/>
            <p class="icon-text">tickets.txt</p>
        </div>
        <div id="start-menu" style="display:none;">
            <p class="menu-item">
                <a class="menu-link" target="blank" href="http://uclacec.com">Campus Events Commission</a>
            </p>
            <p class="menu-item">
                <a class="menu-link" target="blank" href="https://www.facebook.com/culturalaffairsla/">Cultural Affairs Commission</a>
            </p>
            <div class="menu-separator"></div>
            <p id="tickets-menu-item" class="menu-item"><u>T</u>ickets&nbsp;...</p>
            <p id="popup-menu-item" class="menu-item"><u>B</u>ruin Bash Lineup&nbsp;...</p>
            <div class="menu-separator"></div>
            <p class="menu-item">Full website coming soon!</p>
        </div>
        <div id="paint-container"></div>
        <div class="dock">
            <div id="dock-start-button" class="start-button-container">
                <div class="start-button">
                    <img class="start" src="/img/bbash18_teaser/start.png"/>
                </div>
            </div>
            <div style="flex-grow:1;"></div>
            <img class="dock-logo" src="/img/bbash18_teaser/cec.png"/>
            <img class="dock-logo" src="/img/bbash18_teaser/cac.png"/>
            <div class="countdown-container">
                <p id="countdown"></p>
            </div>
        </div>
    </div>

    <script src="/archive/src/bbash18_teaser.js"></script>
</body>
</html>