<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>FAQ</title>

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/faroutfest_faq.css">
</head>
<body>
    <a href="/archive/faroutfest">
        <img id="logo" src="/img/faroutfest/logo_new.png"/>
    </a>
    <svg width="100%">
        <text id="title" x="50%" dy="1em">frequently asked questions</text>
    </svg>
    <div class="content-wrapper">
        <div class="row">
            <p class="q">Q: Where and when is Far Out Fest?</p>
            <p class="a">Far Out Fest is on May 4th from 2pm until 12am on Broxton Avenue.</p>
        </div>
        <div class="row">
            <p class="q">Q: Is Far Out Fest free?</p>
            <p class="a">Yes!</p>
        </div>
        <div class="row">
            <p class="q">Q: Is Far Out Fest kid-friendly?</p>
            <p class="a">Yes!</p>
        </div>
        <div class="row">
            <p class="q">Q: How do I reach you?</p>
            <p class="a">
                Email us!
                <a href="mailto:team@faroutpresents.com">
                    team@faroutpresents.com
                </a>
            </p>
        </div>
    </div>
    <a id="back-link" href="/archive/faroutfest">
        <p id="back">go back</p>
    </a>
</body>
