doctype html
html
    head
        meta(charset="utf-8")
        title Bruin Bash 2018
        link(href="/css/bbash18teaser.css" rel="stylesheet")
    body
        div#content
            div.icon-container#tickets-icon
                img.desktop-icon(src="/img/bbash18_teaser/word.png")
                p.icon-text tickets.txt
            div#start-menu(style="display:none;")
                p.menu-item
                    a.menu-link(target="blank" href="http://uclacec.com") Campus Events Commission
                p.menu-item
                    a.menu-link(target="blank" href="https://www.facebook.com/culturalaffairsla/") Cultural Affairs Commission
                div.menu-separator
                p.menu-item#tickets-menu-item
                    <u>T</u>ickets&nbsp;...
                p.menu-item#popup-menu-item
                    <u>B</u>ruin Bash Lineup&nbsp;...
                div.menu-separator
                p.menu-item Full website coming soon!
            div#paint-container
            div.dock
                div.start-button-container#dock-start-button
                    div.start-button
                        img.start(src="/img/bbash18_teaser/start.png")
                div(style="flex-grow:1;")
                img.dock-logo(src="/img/bbash18_teaser/cec.png")
                img.dock-logo(src="/img/bbash18_teaser/cac.png")
                div.countdown-container
                    p#countdown
        script(src="/js/bbash18_teaser.js")
