doctype html
html
head
    title uh oh
    link(rel='stylesheet', href='/css/error.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
body
    .error
        p.error #{status} error: #{message}
        p.error-debug #{error}
