extends base.jade

block content
    section#home
        p.home-text
            span.pre 0x
            span.scramble i
            span.scramble a
            span.scramble n
            br
            span.pre &nbsp;&nbsp;
            span &nbsp;
            span.scramble b
            span.scramble r
            span.scramble a
            span.scramble u
            span.scramble l
            span.scramble t
        .ascii-art-wrapper
            include rocket_ascii.html
        p.job-title
            | flight software engineer
            br
            span.job-title-subline flight software integration & testing @ NASA JPL&nbsp;&nbsp;&nbsp;

block scripts
    script(src='/js/home.js')
