doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title ianbrault
        link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600,700", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Work+Sans", rel="stylesheet")
        link(href="/css/app.css", rel="stylesheet")
    body
        script(src="/js/index.js")
