doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title ianbrault
        link(href="/css/index.css", rel="stylesheet")
    body
        //- included as HTML to access groups via Snap.svg
        include logo.html
        #cursor
        p#credit image courtesy of 
            em "Ciel Austrial"

        script(src="/js/index.js")
