doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        include favicon.html
        title ianbrault
        link(rel="stylesheet", href="https://use.typekit.net/czm8qtu.css")
        link(rel="stylesheet", href="/css/index.css")
    body
        nav
            a.nav-item.nav-item--active(href="#") home
            a.nav-item(href="#about") about
            a.nav-item(href="#portfolio") portfolio
        header
            a#icon-link(href="#")
                include icon.html
        section#home
            div.logo-wrapper
                include logo.html
            p.credit logo inspired by&nbsp;
                a(href="https://blog.johnnovak.net/") john novak
        section#about
            svg#about-header.section-header(viewBox="0 0 200 32")
                polyline#wire1
                polyline#wire2
                polyline#wire3
                rect(x="58", y="0", width="56", height="20", fill="#fff")
                rect(x="57", y="0", width="5", height="20", transform="rotate(24 58 0)", fill="#fff")
                rect(x="105", y="0", width="8", height="20", transform="rotate(20 114 20)", fill="#fff")
                text(x="60", y="12", font-size="16") about
        section#portfolio
            svg#portfolio-header.section-header(viewBox="0 0 220 32")
                polyline#wire1
                polyline#wire2
                polyline#wire3
                rect(x="58", y="0", width="90", height="20", fill="#fff")
                rect(x="57", y="0", width="5", height="20", transform="rotate(20 58 0)", fill="#fff")
                rect(x="105", y="0", width="8", height="20", transform="rotate(20 114 20)", fill="#fff")
                text(x="60", y="12", font-size="16") portfolio

        script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js")
        script(src="/js/index.js")
