doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        include favicon.html
        title ianbrault
        link(rel="stylesheet", href="https://use.typekit.net/czm8qtu.css")
        link(rel="stylesheet", href="/css/index.css")
    body
        nav
            a.nav-item.nav-item--active(href="#") home
            a.nav-item(href="#about") about
            a.nav-item(href="#portfolio") portfolio
        a#icon-link(href="#")
            include icon.html
        section#home
            div.logo-wrapper
                include logo.html
            p.credit logo inspired by &nbsp;
                a(href="https://blog.johnnovak.net/") john novak
        section#about
        section#portfolio

        script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js")
        script(src="/js/index.js")
