doctype html
html
head
    title ianbrault
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

body
    p IAN BRAULT
