extends base.jade

block content
    section#portfolio
        svg#portfolio-header.section-header(viewBox="0 0 220 32")
            polyline#wire1
            polyline#wire2
            polyline#wire3
            polyline.text-bg(points="57 0 152 0 148 16 53 16")
            text(x="60", y="12", font-size="16") portfolio

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js")
    script(src="/js/sectionHeader.js")
