/*
 * error.css
 */

body { margin: 0; }

div.error {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.error, p.error-debug {
    font-family: "Source Code Pro";
    text-align: center;
    width: 50%;
    margin: 0;
} p.error {
    font-size: 30px;
    line-height: 32px;
} p.error-debug {
    font-size: 26px;
    line-height: 28px;
    margin-top: 20px;
}