:root {
    --black: #020500;
    --white: #f4f1e9;
}

body {
    cursor: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    background: url("/img/lmc.jpg") no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: top 80ms cubic-bezier(.19,1,.22,1), left 80ms cubic-bezier(.19,1,.22,1);
}

svg {
    position: fixed;
    height: 60vh;
    top: 16vh;
    left: 4vw;
}
