/*
 * public/css/index.css
 * author: Ian Brault <ianbrault@ucla.edu>
 */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-family: acumin-pro, sans-serif;
}

a {
    color: #d1a7fc;
    text-decoration: none;
}

section {
    width: 100%;
    height: 100%;
    margin: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
}

text {
    font-style: italic;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*** PAGE TRANSITIONS ***/

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page-out {
    animation: fade-out 0.32s ease-out;
}

.page-in {
    animation: fade-in 0.32s ease-out;
}

/*** NAVBAR ***/

nav {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0;
}

.nav-item {
    color: #000;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 12px;
    padding: 4px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.2s;
}

@media screen and (min-width: 1000px) {
    .nav-item {
        font-size: 21px;
    }
}

@media screen and (min-width: 1200px) {
    .nav-item {
        font-size: 22px;
    }
}

.nav-item:last-child {
    margin-right: 32px;
}

.nav-item--active {
    opacity: 0.5;
}

.nav-item:hover,
.nav-item--active {
    display: flex;
    flex-direction: column;
    background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='2'><circle cx='1' cy='1' r='1'/></svg>");
    background-position: bottom;
    background-repeat: repeat-x;
}

/*** HEADER ***/

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0 0 12px;
}

#icon-link {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#icon-link svg {
    width: 50px;
    height: 50px;
    pointer-events: none;
}

/*** HOME ***/

#home {
    overflow: hidden;
    align-items: flex-start;
}

.logo-wrapper {
    padding-top: 80px;
}

polyline.wire {
    stroke-linecap: round;
    stroke-dasharray: 3 100%;
    stroke-width: 3;
}

.logo-wrapper text {
    font-weight: 300;
    text-anchor: end;
}

.text--desktop {
    display: inherit;
}

.text--mobile {
    display: none;
}

@media screen and (max-width: 812px), (max-device-width: 812px) {
    .logo-wrapper {
        width: 134vw;
        padding-top: 0;
    }

    .text--desktop {
        display: none;
    }

    .text--mobile {
        display: inherit;
    }
}

.credit {
    position: fixed;
    bottom: 4px;
    right: 8px;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
}

/*** ABOUT ***/

#about {
    justify-content: flex-start;
    height: auto;
    padding-top: 80px;
}

#about-header {
    width: 500px;
}

#about-header text {
    font-weight: 500;
    text-transform: uppercase;
}

#about-header circle,
#about-header polyline {
    fill: none;
    stroke: #646464;
    stroke-width: 0.6px;
}

/*** CLICK EFFECTS ***/

@keyframes click-halo-grow {
    0% {
        border: 1px solid #000;
        width: 4px;
        height: 4px;
    }

    50% {
        border: 1px solid #000;
        width: 32px;
        height: 32px;
    }

    100% {
        border: 1px solid #0000;
        width: 64px;
        height: 64px;
    }
}

.click-halo {
    position: fixed;
    border-radius: 50%;
    animation: click-halo-grow 640ms linear;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}
