/*
** app/archive/bbash18-teaser/components/Dock.module.css
*/

.dock {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 42px;
    background-color: #b4b4b4;
    border-top: 2px solid #f0f0f0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 4px;
}

.startContainer {
    cursor: pointer;
    margin-left: 4px;
    border: 2px solid;
    border-top-color: #f0f0f0;
    border-left-color: #f0f0f0;
    border-right-color: black;
    border-bottom-color: black;
}

.startButton {
    width: 80px;
    height: 26px;
    border: 2px solid;
    border-top-color: #b4b4b4;
    border-left-color: #b4b4b4;
    border-right-color: #6c6c6c;
    border-bottom-color: #6c6c6c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startImage {
    height: 20px;
}

.countdownContainer {
    width: 108px;
    height: 30px;
    margin: 0 4px 0 4px;
    border: 2px solid;
    border-top-color: #6c6c6c;
    border-left-color: #6c6c6c;
    border-right-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    margin: 0;
    font-family: "LCD Solid";
    font-size: 16px;
}

.startMenu {
    width: 250px;
    padding: 8px 0;
    position: fixed;
    bottom: 43px;
    z-index: 50;
    background-color: #b4b4b4;
    border: 1px solid #f0f0f0
}

.menuItem {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 8px 12px
}

.menuItem:hover {
    background-color: #6c6c6c50
}

.menuLink {
    text-decoration: none;
    color: black
}

.menuSeparator {
    max-width: 100%;
    border-bottom: 1px solid #6c6c6c;
    margin: 8px 12px
}
