/*
** app/archive/bbash18-teaser/components/NTButton.module.css
*/

.ntButtonWrapper {
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    margin-left: 10px;
    margin-right: 10px
}

.ntButton {
    width: 108px;
    height: 20px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-top-color: var(--white);
    border-left-color: var(--white);
    border-right-color: var(--darker-gray);
    border-bottom-color: var(--darker-gray);
}

.ntButtonText {
    position: relative;
    top: -1px;
    left: -1px;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.ntButtonTextBorder {
    position: relative;
    top: -1px;
    left: -1px;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    border: 1px dotted black;
}
