/*
** sleeper/src/styles/GameStatView.css
*/

.stat-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 20px 0;
}

.stat-title {
    font-weight: 600;
    margin: 4px 0;
}

.stat-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
    row-gap: 2px;
}

.stat-grid > p {
    margin: 0;
}

.stat-grid > p:nth-child(even) {
    text-align: right;
}

.stat-grid > p:last-child {
    font-size: 12px;
}

.grid-bold {
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .stat-wrapper {
        margin: 12px 0;
    }
}
