/*
** sleeper/src/styles/LeagueSelector.css
*/

.league-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.league-input > label {
    font-size: 1rem;
}

.league-button {
    align-self: center;
    margin: 8px;
    width: 128px;
}