/*
** sleeper/src/styles/UserLogin.css
*/

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.username-input {
    width: 256px;
}

.user-button {
    align-self: center;
    margin: 4px;
    width: 128px;
}
