/*
** app/projects/page.module.css
*/

.wrapper {
    max-width: 70ch;
    width: fit-content;
    padding: 4em 0;
    margin: auto;
    gap: 30px;
}

.title {
    font-weight: bold;
    font-size: 40px;
}

.subheading {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-text);
}

.project_grid {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(3, min-content);
    column-gap: 24px;
    row-gap: 6px;
}

.project_image {
    grid-column: 1;
    grid-row: 1 / span 3;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
}

.project_name {
    font-size: 20px;
    font-weight: 600;
}

.project_name_mono {
    font-family: monospace;
    font-size: 18px;
}

.project_description {
    font-size: 18px;
}

.project_tags {
    font-size: 14px;
    color: var(--secondary-text);
}

@media only screen and (max-width: 768px) {
    .wrapper {
        max-width: 100vw;
        padding: 4em 1.5em;
        gap: 20px;
    }

    .title {
        margin-bottom: 10px;
    }

    .project_grid {
        row-gap: 4px;
    }
}
