/*
** app/projects/page.module.css
*/

.wrapper {
    max-width: 70ch;
    width: fit-content;
    padding: 4em 0;
    margin: auto;
    gap: 30px;
}

.subheading {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-text);
}

.projectGrid {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(3, min-content);
    column-gap: 24px;
    row-gap: 6px;
}

.projectImage {
    grid-column: 1;
    grid-row: 1 / span 3;
    align-self: center;
    justify-self: center;
    border-radius: 8;
}

.projectName {
    font-size: 20px;
    font-weight: 600;
}

.projectNameMono {
    font-family: monospace;
    font-size: 18px;
}

.projectDescription {
    font-size: 18px;
}

.projectTags {
    font-size: 14px;
    color: var(--secondary-text);
}

@media only screen and (max-width: 768px) {
    .wrapper {
        max-width: 100vw;
        padding: 2em 1.5em 4em;
        gap: 20px;
    }

    .projectGrid {
        row-gap: 4px;
    }
}
