/*
** app/globals.css
*/

:root {
    --background: #FFFFFF;
    --text: #000000;
    --secondary-text: #8A8A8E;
    --blue: #3478F6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --text: #FFFFFF;
        --secondary-text: #8D8D93;
        --blue: #3B82F7;
    }
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--blue);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
