/*
** app/page.module.css
*/

.wrapper {
    max-width: 70ch;
    width: fit-content;
    padding: 4em 0;
    margin: auto;
}

.title {
    font-weight: bold;
    font-size: 40px;
}

.subheading {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-text);
}

.text {
    font-size: 20px;
}

.subtext {
    font-size: 18px;
}

.projects_resume_wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.link {
    font-size: 20px;
    font-weight: 600;
}

.image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.image_link {
    font-size: 14px;
    font-weight: 500;
    color: var(--blue);
}
