/*
** base.css
*/

@font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    src: url("/public/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 500;
    src: url("/public/fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 400;
    src: url("/public/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 300;
    src: url("/public/fonts/SF-Pro-Display-Light.otf") format("opentype");
}

* {
    font-family: "SF Pro Display";
}

.vflex {
    display: flex;
    flex-direction: column;
}

.hflex {
    display: flex;
    flex-direction: row;
}

