/*
 * src/css/home.css
 */

#home {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 104px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-text {
    color: #161616;
    font-size: 120px;
    font-weight: 600;
    line-height: 1;
    margin: 64px 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.pre {
    color: #64646450;
    font-size: 40px;
    font-weight: 400;
}

.ascii-art-wrapper {
    position: fixed;
    bottom: 10px;
    right: 64px;
}

.ascii-art {
    color: #646464;
    font-size: 12px;
}

.job-title {
    position: absolute;
    bottom: 128px;
    right: 350px;
    font-size: 32px;
    font-weight: 600;
    line-height: 0.9;
    text-align: right;
}

.job-title-subline {
    font-size: 20px;
    font-weight: 400;
    color: #646464;
}