<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Ian Brault / Projects</title>

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/projects.css">
</head>
<body>
    <main class="vflex">
        <p id="title"><a id="title-link" href="/">IAN BRAULT</a> / <span class="title-smaller">Projects</span></p>
        <div class="hflex project-wrapper-outer">
            <p class="project-logo">🏀</p>
            <div class="vflex project-wrapper-inner">
                <p class="project-title">
                    <a target="_blank" href="https://github.com/ianbrault/nba.py">
                        nba.py
                    </a>
                </p>
                <p class="project-description">Gets useful statistics for NBA players/teams</p>
                <p class="project-attributes">Python</p>
            </div>
        </div>
        <div class="hflex project-wrapper-outer">
            <p class="project-logo">🏈</p>
            <div class="vflex project-wrapper-inner">
                <p class="project-title">
                    <a target="_blank" href="/sleeper">
                        Sleeper Stats
                    </a>
                </p>
                <p class="project-description">Shows statistics for Sleeper fantasy football leagues</p>
                <p class="project-attributes">Javascript, Svelte</p>
            </div>
        </div>
        <!--
        <div class="hflex project-wrapper-outer">
            <p class="project-logo">📝</p>
            <div class="vflex project-wrapper-inner">
                <p class="project-title">
                    <a target="_blank" href="/todo">
                        Daily To-Do List
                    </a>
                </p>
                <p class="project-description">To-do list that tracks when items were completed (designed for my JPL workflow)</p>
                <p class="project-attributes">Javascript, Svelte</p>
            </div>
        </div>
        -->
        <p class="subtitle">Websites</p>
        <div class="hflex project-wrapper-outer">
            <p class="project-logo">🌎</p>
            <div class="vflex project-wrapper-inner">
                <p class="project-title">
                    <a target="_blank" href="/">
                        Personal Website
                    </a>
                </p>
                <p class="project-description">This website!</p>
                <p class="project-attributes">Javascript, Typescript</p>
            </div>
        </div>
        <div class="hflex project-wrapper-outer">
            <p class="project-logo">🎶</p>
            <div class="vflex project-wrapper-inner">
                <p class="project-title">
                    <a target="_blank" href="/archive/bbash18-teaser">
                        Bruin Bash 2018 Teaser
                    </a>
                </p>
                <p class="project-description">Teaser site for UCLA's 2018 Bruin Bash concert</p>
                <p class="project-attributes">Javascript</p>
            </div>
        </div>
        <div class="hflex project-wrapper-outer">
            <p class="project-logo">🌀</p>
            <div class="vflex project-wrapper-inner">
                <p class="project-title">
                    <a target="_blank" href="/archive/faroutfest">
                        Far Out Fest
                    </a>
                </p>
                <p class="project-description">Promotional site for Westwood's Far Out Fest music festival</p>
                <p class="project-attributes">Javascript</p>
            </div>
        </div>
    </main>
</body>
</html>