/*
** random/aoc_lanternfish/src/styles/GridViewer.css
*/

.grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.8rem;
}

.grid-row {
    font-size: 0.75rem;
    margin: 0;
}

.grid-row--robot {
    background-color: black;
    color: white;
}

.grid-control-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 16px;
}

.grid-control-row--button {
    font-size: 0.75rem;
    width: 100px;
    border-radius: 8px;
}

.grid-control-row--progress {
    text-align: center;
    width: 200px;
    margin: 0;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
