/*
** app/sleeper/components/LoadingBar.module.css
*/

@keyframes slider {
    0% {
        left: -40px;
    }
    100% {
        left: 120px;
    }
}

.loadingBarWrapper {
    width: 120px;
    height: 6px;
    border-radius: 6px;
    margin: 8px;
    border: 1px solid black;
    background-color: rgb(242, 242, 247);
    overflow: hidden;
    align-self: center;
}

.loadingBarSlider {
    width: 40px;
    height: 6px;
    border-radius: 6px;
    background-color: black;
    position: relative;
    left: -40px;
    animation: 1s ease-in-out 0s infinite slider;
}
