/*** FONTS ***/

@font-face {
    font-family: "Filson Soft Medium";
    src: url("/fonts/filson_soft_medium.otf") format("opentype");
}

@font-face {
    font-family: "Filson Soft Book";
    src: url("/fonts/filson_soft_book.woff") format("woff");
}

@font-face {
    font-family: "Good Dog";
    src: url("/fonts/good_dog.ttf") format("truetype");
}

/*** GENERAL ***/

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Filson Soft Medium", sans-serif;
    color: #2c2c2c;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

#content-wrapper {
    position: relative;
}

#background {
    height: 100vh;
}

#content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

section {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}

@media only screen and (max-device-width: 813px) {
    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

/*** NAV & VAN ***/

#nav-wrapper {
    position: fixed;
    z-index: 10;
    bottom: 12px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    position: relative;
    z-index: 11;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
}

.navitem {
    position: relative;
    z-index: 12;
    text-decoration: none;
    font-size: 20px;
    color: #2c2c2c;
    padding: 20px 32px;
}

#progressbg {
    position: absolute;
    z-index: 13;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(0.25turn, #C45188, #F0785E, #FBC94A, #63BDC6, #6D62D1);
    border-radius: 4px;
}

#progress {
    position: absolute;
    z-index: 14;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: white;
}

#van {
    position: fixed;
    z-index: 5;
    left: -60vw;
    width: 260px;
    transform-origin: center;
    filter: drop-shadow(-3px 3px 4px #3d3d3d50);
    -webkit-filter: drop-shadow(-3px 3px 4px #3d3d3d50);
}

@media only screen and (max-device-width: 813px) {
    #nav-wrapper {
        bottom: 40px;
    }

    #nav {
        padding: 0 18px;
        border-radius: 8px;
    }

    .navitem {
        font-size: 30px;
        padding: 30px 30px;
    }

    #progress, #progressbg {
        height: 8px;
    }

    #van {
        width: 48vw;
    }
}

/*** HOME ***/

#s1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#slideshow {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#slideshow img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.home {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding-top: 16vh;
}

#logo {
    width: 50vw;
}

.home-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 12px 0;
} .date-row {
    margin-bottom: 2px;
} .location-row {
    margin-top: 2px;
}

svg {
    font-family: "Filson Soft Medium";
} svg.date {
    height: 54px;
    font-size: 40px;
} svg.location {
    height: 50px;
    font-size: 36px;
}

#date, #location {
    text-anchor: middle;
    paint-order: stroke;
    fill: #EADAC7;
    stroke: #3d3d3d;
    stroke-width: 4px;
    stroke-linejoin: round;
}

.button {
    cursor: pointer;
    text-align: center;
    width: 200px;
    padding: 10px 0;
    margin: 0 32px;
    font-size: 30px;
    color: #EADAC7;
    border: 4px solid #EADAC7;
    border-radius: 12px;
    background-color: hsl(3, 74%, 60%);
    box-shadow: -3px 3px 8px rgba(0,0,0,0.32);
}

@media only screen and (max-device-width: 813px) {
    .home {
        justify-content: center;
        padding-top: 0;
        padding-bottom: 12vh;
    }

    #logo {
        width: 88vw;
    }

    svg.date {
        height: 76px;
        font-size: 60px;
    } svg.location {
        height: 72px;
        font-size: 56px;
    } #date, #location {
        stroke-width: 4px;
    }

    .button {
        width: 240px;
        padding: 12px 0;
        margin: 12px 28px;
        font-size: 40px;
        border: 6px solid #EADAC7;
        border-radius: 12px;
    }
}

/*** FERRIS WHEEL ***/

#copy {
    position: absolute;
    left: 600px;
    top: 60px;
    width: 640px;
    margin: 0;
    color: #3d3d3d;
    font-family: "Filson Soft Book";
    font-size: 14px;
    line-height: 24px;
}

@media only screen and (min-width: 1000px) {
    #copy {
        font-size: 20px;
        line-height: 32px;
    }
}

@media only screen and (max-device-width: 813px) {
    #copy {
        left: 1040px;
        width: 780px;
        font-size: 36px;
        line-height: 48px;
    }
}

/*** ROYCE ***/

#lineup-wrapper {
    position: absolute;
    left: 2450px;
    top: 8px;
    width: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lineup-title, #lineup-switch {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#lineup-title {
    color: #6D62D1;
    font-family: "Good Dog";
    font-size: 80px;
    text-transform: uppercase;
    margin: 0;
}

#lineup-switch {
    color: white;
    font-family: "Filson Soft Book";
    font-size: 18px;
    margin: -8px 0 20px 0;
}

#lineup2018, #lineup2017-maj, #lineup2017-min {
    color: #faf3eb;
    text-shadow: #3d3d3d 0 0 12px;
    font-family: "Filson Soft Medium";
    text-align: center;
    margin: 0;
}

#lineup2018 {
    font-size: 30px;
    line-height: 40px;
}

#lineup2017-maj {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
}

#lineup2017-min {
    font-size: 22px;
    line-height: 30px;
}

.dot {
    color: #6D62D1;
}

@media only screen and (min-width: 1000px) {
    #lineup2018 {
        font-size: 28px;
        line-height: 36px;
    }

    #lineup2017-maj {
        font-size: 24px;
        line-height: 32px;
    }

    #lineup2017-min {
        font-size: 18px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 1250px) {
    #lineup2018 {
        font-size: 30px;
        line-height: 40px;
    }

    #lineup2017-maj {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 12px;
    }

    #lineup2017-min {
        font-size: 22px;
        line-height: 30px;
    }
}

@media only screen and (max-device-width: 813px) {
    #lineup-wrapper {
        left: 3620px;
        width: 900px;
    }

    #lineup-title {
        font-size: 140px;
        margin: 0;
    }

    #lineup-switch {
        font-size: 32px;
        margin: 0 0 50px 0;
    }

    #lineup2018, #lineup2017-maj, #lineup2017-min {
        text-shadow: #3d3d3d 0 0 16px;
    }

    #lineup2018 {
        font-size: 50px;
        line-height: 60px;
    }

    #lineup2017-maj {
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 16px;
    }

    #lineup2017-min {
        font-size: 32px;
        line-height: 40px;
    }
}

/*** FOX ***/

#sponsors-wrapper {
    position: absolute;
    top: 20px;
    left: 3460px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sponsors-title {
    font-family: "Good Dog";
    font-size: 92px;
    color: #F3CB39;
    margin: 20px 0;
}

.sponsor {
    font-size: 24px;
    color: #faf3eb;
    margin: 8px 0;
    text-align: right;
}

.sponsors-row {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}

.ww-logo {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    margin: 0 8px;
}

.getaround {
    height: 64px;
    margin-right: 8px;
}

@media only screen and (max-device-width: 813px) {
    #sponsors-wrapper {
        left: 5080px;
        width: 420px;
    }

    .sponsors-title {
        font-size: 132px;
        margin: 24px 0;
    }

    .sponsor {
        font-size: 36px;
        line-height: 48px;
    }

    .sponsors-row {
        margin: 20px 0;
    }

    .ww-logo {
        width: 120px;
        height: 120px;
        margin-top: 20px;
    }

    .getaround {
        height: 80px;
        margin-right: 12px;
    }
}

/*** STAGE ***/

#stage-wrapper {
    position: absolute;
    top: 32px;
    right: 242px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.stage-button {
    width: 150px;
    font-size: 24px;
    margin: 8px 0 8px 20px;
}

.stage-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
}

#stage-logo {
    display: inherit;
    width: 72%;
    margin-bottom: 12px;
}

@media only screen and (max-device-width: 813px) {
    #stage-wrapper {
        top: 64px;
        right: 472px;
        width: 720px;
    }

    #stage-logo {
        width: 88%;
        margin-bottom: 28px;
    }

    .stage-button {
        width: 240px;
        font-size: 38px;
        margin: 8px 0 8px 32px;
    }
}

/*** POPUP ***/

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background-color: #00000040;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup {
    width: 46vw;
    background-color: #faf3eb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 3px 6px #00000040;
}

#popup-link {
    width: 60%;
    margin-top: 60px;
}

#popup-image {
    width: 100%;
}

#popup-title {
    color: #3d3d3d;
    font-size: 26px;
    margin: 12px 0;
}

#popup-text {
    width: 80%;
    color: #3d3d3d;
    font-family: "Filson Soft Book";
    font-size: 20px;
    line-height: 30px;
    margin: 16px 0;
}

#popup-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 60px;
}

.popup-button {
    text-align: center;
    width: 140px;
    padding: 10px 0;
    margin: 0 12px;
    font-size: 20px;
    color: #3d3d3d;
    border: 3px solid #3d3d3d;
    border-radius: 12px;
} .popup-button--yes {
    background-color: rgba(43, 222, 115, 0.7);
} .popup-button--no {
    cursor: pointer;
    background-color: #EADAC780;
}

@media only screen and (max-device-width: 813px) {
    #popup {
        width: 75vw;
        border-radius: 16px;
    }

    #popup-link {
        width: 68%;
        margin-top: 80px;
    }

    #popup-title {
        font-size: 38px;
        margin: 16px 0;
    }

    #popup-text {
        width: 82%;
        font-size: 32px;
        line-height: 42px;
        margin: 20px 0 32px 0;
    }

    #popup-row {
        margin-bottom: 80px;
    }

    .popup-button {
        width: 220px;
        padding: 16px 0;
        margin: 0 20px;
        font-size: 32px;
    }
}
