/*
** app/resume/page.module.css
*/

.wrapper {
    max-width: 70ch;
    width: fit-content;
    padding: 4em 0;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        max-width: 100vw;
        padding: 2em 1.5em;
    }
}
