* {
    box-sizing: border-box;
}

.bordered-round {
    border: 1px solid #888888;
    border-radius: 4px;
}

.vflex {
    display: flex;
    flex-direction: column;
}

.vflex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hflex {
    display: flex;
    flex-direction: row;
}

.hflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
